* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.todo{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    &__list_area{
        display: flex;
        background-color: rgb(250, 243, 243);
        margin-top: 1%;
        width: 60%;

        &:hover {
            box-shadow: 1px 2px 20px #6093e0;
        }
    }

    &__add_area{
        background-color: rgb(238, 238, 248);
        position: sticky;
        bottom: 6em;
        width: 40%;
        height: 100px;
        justify-content: space-around;

        // &:hover {
        //     box-shadow: 1px 2px 20px #b65656;
        // }
        margin-top: 8em;
    }
}